<div class="help-screen" [ngClass]="{open: helpScreen.text}">
	<p class="close" *ngIf="helpScreen.text" (click)="helpScreen.text = ''">
		X
	</p>
	<p class="text" *ngIf="helpScreen.text">{{helpScreen.text}}</p>

	<p *ngIf="!helpScreen.text">Wie geht das hier alles?</p>
</div>

<div class="main-content" [ngSwitch]="room">
	<div *ngSwitchWhen="'entryHall'">
		<ul class="menu">
			<li><a [routerLink]="['Workshop', {roomName: 'experiment'}]">
				Experiment definieren
			</a></li>
			<li><a [routerLink]="['Workshop', {roomName: 'experimentJson'}]">
				Experiment ohne GUI definieren
			</a></li>
			<li><a [routerLink]="['Workshop', {roomName: 'trialBlock'}]">
				Trial-Block bauen
			</a></li>
			<li><a (click)="helpScreen.text = helpScreen.textA">Stimuli
				verwalten</a></li>
			<li><a>Irgendwas cooles machen und das dann verbessern</a>
			</li>
		</ul>
	</div>

	<div *ngSwitchWhen="'experiment'">
		<h1>Experiment bearbeiten</h1>
		<div *ngIf="currentExperiment">
			<form class="form-horizontal container-fluid">
				<div class="form-group">
					<label class="control-label col-sm-2">UUID</label>
					<div class="col-sm-10">
						<p class="form-control-static">
							{{currentExperiment.uuid}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control"
						       [(ngModel)]="currentExperiment.name"
						       placeholder="Name">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">Version</label>
					<div class="col-sm-10">
						<input type="text" class="form-control"
						       [(ngModel)]="currentExperiment.version"
						       placeholder="Version"><br>
					</div>
				</div>
			</form>

			<p>
				<a (click)="addSection(currentExperiment)">Add new section</a>
			</p>

			<div class="panel panel-default"
			     *ngFor="#section of currentExperiment.sections; #i=index">
				<div class="panel-heading">
					<h2 class="panel-title">
						Section {{i+1}}
						<small>
							<a (click)="addSection(currentExperiment)">Add new
								section</a>
							|
							<a (click)="blah()">Delete this section</a>
						</small>
					</h2>
				</div>
				<div class="panel-body">
					<div>
						<p>
							Randomise: <input type="checkbox"
							                  [(ngModel)]="section.randomise">
						</p>

						<div class="container-fluid">
							<div *ngFor="#trialBlock of section.trialBlocks"
							     class="row">
								<p class="col-sm-1">
										<span class="glyphicon glyphicon-minus">
										</span>
								</p>
								<div class="form-group col-sm-2">
									<input type="number" class="form-control"
									       [(ngModel)]="trialBlock.repetitions"
									       placeholder="Wiederholungen">
								</div>
								<div class="form-group col-sm-9">
									<select class="form-control"
									        [(ngModel)]="trialBlock.type">
										<option
												*ngFor="#type of _trialBlockStore.availableTrialBlockTypes()">
											{{type}}
										</option>
									</select>
								</div>
							</div>

							<div class="row">
								<p class="col-sm-1">
										<span class="glyphicon glyphicon-plus">
										</span>
								</p>
								<a (click)="addTrialBlock(section)">Add
									trial
									block</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div *ngIf="!currentExperiment">
			<ul class="menu">
				<li><a [routerLink]="['Workshop', {roomName: 'entryHall'}]">Zurück</a>
				</li>
				<li><a (click)="newExperiment()">Ein neues
					Experiment anlegen</a></li>
				<li><a (click)="saveChanges()">Veränderungen speichern</a></li>
			</ul>

			<p class="block-separator">
				<span>oder</span>
			</p>

			<p>Ein bestehendes Experiment bearbeiten:</p>

			<ul>
				<li *ngFor="#experiment of experimentList">
					<a (click)="editExperiment(experiment.uuid)">
						{{experiment.name}} <{{experiment.uuid}}>
					</a>
				</li>
			</ul>
		</div>

	</div>

	<div *ngSwitchWhen="'experimentJson'">
		<h1>Experiment bearbeiten</h1>
		<div *ngIf="currentExperiment">
			<button (click)="saveChanges()">Save changes</button>
			<textarea style="width: 100%; height: 500px;" [(ngModel)]="currentExperimentJSON">
			</textarea>
		</div>


		<div *ngIf="!currentExperiment">
			<ul class="menu">
				<li><a [routerLink]="['Workshop', {roomName: 'entryHall'}]">Zurück</a>
				</li>
				<li><a (click)="newExperiment()">Ein neues
					Experiment anlegen</a></li>
				<li><a (click)="saveChanges()">Veränderungen speichern</a></li>
			</ul>

			<p class="block-separator">
				<span>oder</span>
			</p>

			<p>Ein bestehendes Experiment bearbeiten:</p>

			<ul>
				<li *ngFor="#experiment of experimentList">
					<a (click)="editExperiment(experiment.uuid)">
						{{experiment.name}} <{{experiment.uuid}}>
					</a>
				</li>
			</ul>
		</div>

	</div>

	<div *ngSwitchWhen="'trialBlock'">
		<a [routerLink]="['Workshop', {roomName: 'entryHall'}]">Zurück</a>
		<p>Available elements:</p>

		<ul>
			<li *ngFor="#element of availableElements"
			    (click)="addElement(element)">{{element.type}}
			</li>
		</ul>

		<hr>

		<div>
			<template ngFor #element [ngForOf]="elementList">
				<div [ngSwitch]="element.type" draggable="true"
				     (dragstart)="dragstart(element)"
				     (dragenter)="dragenter(element)"
				     (dragover)="dragover($event)" (drop)="drop(element)"
				     [ngClass]="{dragTarget: element === dragTarget}"
				     class="elementContainer">
					<captain-caption
							*ngSwitchWhen="'caption'"
							[element]="element"></captain-caption>
					<captain-audio-player
							*ngSwitchWhen="'audioPlayer'"
							[element]="element"></captain-audio-player>
					<captain-slider (click)="element.label='blah'"
					                *ngSwitchWhen="'slider'"
					                [element]="element"></captain-slider>
					<captain-submit
							*ngSwitchWhen="'submit'"
							[element]="element"></captain-submit>
					<captain-button-list
							*ngSwitchWhen="'buttonList'"
							[element]="element"></captain-button-list>
					<captain-audio-recorder
							*ngSwitchWhen="'audioRecorder'"
							[element]="element"></captain-audio-recorder>
				</div>
			</template>
		</div>
	</div>
</div>