/* app css stylesheet */

body {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
    flex-basis: 50px;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

#main {
    flex-basis: 100%;
    display: flex;
}
